
Unni.Infrastructure/obj/Unni.Infrastructure.csproj.nuget.g.targets
Unni.Infrastructure/obj/Unni.Infrastructure.csproj.nuget.g.props
Unni.Infrastructure/obj/Unni.Infrastructure.csproj.nuget.dgspec.json
Unni.Infrastructure/obj/Release/unni.infrastructure.1.0.0.nuspec
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.pdb
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.dll
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.csproj.FileListAbsolute.txt
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.csproj.CoreCompileInputs.cache
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.csproj.AssemblyReference.cache
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.assets.cache
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.AssemblyInfoInputs.cache
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.AssemblyInfo.cs
Unni.Infrastructure/obj/Release/netstandard2.1/_IsIncrementalBuild
Unni.Infrastructure/obj/Release/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Unni.Infrastructure/obj/project.nuget.cache
Unni.Infrastructure/obj/project.assets.json
Unni.Infrastructure/obj/Debug/unni.infrastructure.1.0.0.nuspec
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.pdb
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.dll
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.csproj.FileListAbsolute.txt
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.csproj.CoreCompileInputs.cache
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.csproj.AssemblyReference.cache
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.assets.cache
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.AssemblyInfoInputs.cache
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.AssemblyInfo.cs
Unni.Infrastructure/obj/Debug/netstandard2.1/_IsIncrementalBuild
Unni.Infrastructure/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Unni.Infrastructure/bin/Release/unni.infrastructure.1.0.0.nupkg
Unni.Infrastructure/bin/Release/netstandard2.1/Unni.Infrastructure.pdb
Unni.Infrastructure/bin/Release/netstandard2.1/Unni.Infrastructure.dll
Unni.Infrastructure/bin/Release/netstandard2.1/Unni.Infrastructure.deps.json
Unni.Infrastructure/bin/Debug/unni.infrastructure.1.0.0.nupkg
Unni.Infrastructure/bin/Debug/netstandard2.1/Unni.Infrastructure.pdb
Unni.Infrastructure/bin/Debug/netstandard2.1/Unni.Infrastructure.dll
Unni.Infrastructure/bin/Debug/netstandard2.1/Unni.Infrastructure.deps.json
.vs/Unni/v17/.suo
.vs/Unni/v17/.futdcache.v2
.vs/Unni/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/unni.projects.v5.1
.vs/ProjectEvaluation/unni.metadata.v5.1
Unni.Samples/obj/Unni.Samples.csproj.nuget.g.targets
Unni.Samples/obj/Unni.Samples.csproj.nuget.g.props
Unni.Samples/obj/Unni.Samples.csproj.nuget.dgspec.json
Unni.Samples/obj/Unni.Samples.ConsoleApp.csproj.nuget.g.targets
Unni.Samples/obj/Unni.Samples.ConsoleApp.csproj.nuget.g.props
Unni.Samples/obj/Unni.Samples.ConsoleApp.csproj.nuget.dgspec.json
Unni.Samples/obj/Unni.Samples.Console.csproj.nuget.g.targets
Unni.Samples/obj/Unni.Samples.Console.csproj.nuget.g.props
Unni.Samples/obj/Unni.Samples.Console.csproj.nuget.dgspec.json
Unni.Samples/obj/Release/net6.0/Unni.Samples.GlobalUsings.g.cs
Unni.Samples/obj/Release/net6.0/Unni.Samples.GeneratedMSBuildEditorConfig.editorconfig
Unni.Samples/obj/Release/net6.0/Unni.Samples.csproj.AssemblyReference.cache
Unni.Samples/obj/Release/net6.0/Unni.Samples.ConsoleApp.pdb
Unni.Samples/obj/Release/net6.0/Unni.Samples.ConsoleApp.GlobalUsings.g.cs
Unni.Samples/obj/Release/net6.0/Unni.Samples.ConsoleApp.genruntimeconfig.cache
Unni.Samples/obj/Release/net6.0/Unni.Samples.ConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
Unni.Samples/obj/Release/net6.0/Unni.Samples.ConsoleApp.dll
Unni.Samples/obj/Release/net6.0/Unni.Samples.ConsoleApp.csproj.FileListAbsolute.txt
Unni.Samples/obj/Release/net6.0/Unni.Samples.ConsoleApp.csproj.CoreCompileInputs.cache
Unni.Samples/obj/Release/net6.0/Unni.Samples.ConsoleApp.csproj.CopyComplete
Unni.Samples/obj/Release/net6.0/Unni.Samples.ConsoleApp.csproj.BuildWithSkipAnalyzers
Unni.Samples/obj/Release/net6.0/Unni.Samples.ConsoleApp.csproj.AssemblyReference.cache
Unni.Samples/obj/Release/net6.0/Unni.Samples.ConsoleApp.assets.cache
Unni.Samples/obj/Release/net6.0/Unni.Samples.ConsoleApp.AssemblyInfoInputs.cache
Unni.Samples/obj/Release/net6.0/Unni.Samples.ConsoleApp.AssemblyInfo.cs
Unni.Samples/obj/Release/net6.0/Unni.Samples.Console.GlobalUsings.g.cs
Unni.Samples/obj/Release/net6.0/Unni.Samples.Console.GeneratedMSBuildEditorConfig.editorconfig
Unni.Samples/obj/Release/net6.0/Unni.Samples.Console.csproj.AssemblyReference.cache
Unni.Samples/obj/Release/net6.0/Unni.Samples.Console.assets.cache
Unni.Samples/obj/Release/net6.0/Unni.Samples.Console.AssemblyInfoInputs.cache
Unni.Samples/obj/Release/net6.0/Unni.Samples.Console.AssemblyInfo.cs
Unni.Samples/obj/Release/net6.0/Unni.Samples.assets.cache
Unni.Samples/obj/Release/net6.0/Unni.Samples.AssemblyInfoInputs.cache
Unni.Samples/obj/Release/net6.0/Unni.Samples.AssemblyInfo.cs
Unni.Samples/obj/Release/net6.0/refint/Unni.Samples.ConsoleApp.dll
Unni.Samples/obj/Release/net6.0/ref/Unni.Samples.ConsoleApp.dll
Unni.Samples/obj/Release/net6.0/apphost.exe
Unni.Samples/obj/Release/net6.0/_IsIncrementalBuild
Unni.Samples/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Unni.Samples/obj/project.nuget.cache
Unni.Samples/obj/project.assets.json
Unni.Samples/obj/Debug/net6.0/Unni.Samples.GlobalUsings.g.cs
Unni.Samples/obj/Debug/net6.0/Unni.Samples.GeneratedMSBuildEditorConfig.editorconfig
Unni.Samples/obj/Debug/net6.0/Unni.Samples.csproj.AssemblyReference.cache
Unni.Samples/obj/Debug/net6.0/Unni.Samples.ConsoleApp.pdb
Unni.Samples/obj/Debug/net6.0/Unni.Samples.ConsoleApp.GlobalUsings.g.cs
Unni.Samples/obj/Debug/net6.0/Unni.Samples.ConsoleApp.genruntimeconfig.cache
Unni.Samples/obj/Debug/net6.0/Unni.Samples.ConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
Unni.Samples/obj/Debug/net6.0/Unni.Samples.ConsoleApp.dll
Unni.Samples/obj/Debug/net6.0/Unni.Samples.ConsoleApp.csproj.FileListAbsolute.txt
Unni.Samples/obj/Debug/net6.0/Unni.Samples.ConsoleApp.csproj.CoreCompileInputs.cache
Unni.Samples/obj/Debug/net6.0/Unni.Samples.ConsoleApp.csproj.CopyComplete
Unni.Samples/obj/Debug/net6.0/Unni.Samples.ConsoleApp.csproj.BuildWithSkipAnalyzers
Unni.Samples/obj/Debug/net6.0/Unni.Samples.ConsoleApp.csproj.AssemblyReference.cache
Unni.Samples/obj/Debug/net6.0/Unni.Samples.ConsoleApp.assets.cache
Unni.Samples/obj/Debug/net6.0/Unni.Samples.ConsoleApp.AssemblyInfoInputs.cache
Unni.Samples/obj/Debug/net6.0/Unni.Samples.ConsoleApp.AssemblyInfo.cs
Unni.Samples/obj/Debug/net6.0/Unni.Samples.AssemblyInfoInputs.cache
Unni.Samples/obj/Debug/net6.0/Unni.Samples.AssemblyInfo.cs
Unni.Samples/obj/Debug/net6.0/refint/Unni.Samples.ConsoleApp.dll
Unni.Samples/obj/Debug/net6.0/ref/Unni.Samples.ConsoleApp.dll
Unni.Samples/obj/Debug/net6.0/apphost.exe
Unni.Samples/obj/Debug/net6.0/_IsIncrementalBuild
Unni.Samples/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Unni.Samples/bin/Release/net6.0/Unni.Samples.ConsoleApp.runtimeconfig.json
Unni.Samples/bin/Release/net6.0/Unni.Samples.ConsoleApp.pdb
Unni.Samples/bin/Release/net6.0/Unni.Samples.ConsoleApp.exe
Unni.Samples/bin/Release/net6.0/Unni.Samples.ConsoleApp.dll
Unni.Samples/bin/Release/net6.0/Unni.Samples.ConsoleApp.deps.json
Unni.Samples/bin/Release/net6.0/Unni.Infrastructure.pdb
Unni.Samples/bin/Release/net6.0/Unni.Infrastructure.dll
Unni.Samples/bin/Debug/net6.0/Unni.Samples.ConsoleApp.runtimeconfig.json
Unni.Samples/bin/Debug/net6.0/Unni.Samples.ConsoleApp.pdb
Unni.Samples/bin/Debug/net6.0/Unni.Samples.ConsoleApp.exe
Unni.Samples/bin/Debug/net6.0/Unni.Samples.ConsoleApp.dll
Unni.Samples/bin/Debug/net6.0/Unni.Samples.ConsoleApp.deps.json
Unni.Samples/bin/Debug/net6.0/Unni.Infrastructure.pdb
Unni.Samples/bin/Debug/net6.0/Unni.Infrastructure.dll
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.csproj.BuildWithSkipAnalyzers
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.csproj.BuildWithSkipAnalyzers
.vs/Unni/FileContentIndex/read.lock
.vs/Unni/FileContentIndex/d1cfda0e-87f9-4381-b5ca-d21c9a821bf6.vsidx
.vs/Unni/FileContentIndex/8ba4a509-d9c5-4f0b-b220-934691d2000e.vsidx
.vs/Unni/FileContentIndex/8af1061a-bccb-43bd-82d7-c7f6a3511c4f.vsidx
.vs/Unni/FileContentIndex/01123650-90fb-4a0b-a11c-e486534ae48b.vsidx
