
Unni.Infrastructure/obj/Unni.Infrastructure.csproj.nuget.g.targets
Unni.Infrastructure/obj/Unni.Infrastructure.csproj.nuget.g.props
Unni.Infrastructure/obj/Unni.Infrastructure.csproj.nuget.dgspec.json
Unni.Infrastructure/obj/Release/unni.infrastructure.1.0.0.nuspec
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.pdb
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.dll
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.csproj.FileListAbsolute.txt
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.csproj.CoreCompileInputs.cache
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.csproj.AssemblyReference.cache
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.assets.cache
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.AssemblyInfoInputs.cache
Unni.Infrastructure/obj/Release/netstandard2.1/Unni.Infrastructure.AssemblyInfo.cs
Unni.Infrastructure/obj/Release/netstandard2.1/_IsIncrementalBuild
Unni.Infrastructure/obj/Release/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Unni.Infrastructure/obj/project.nuget.cache
Unni.Infrastructure/obj/project.assets.json
Unni.Infrastructure/obj/Debug/unni.infrastructure.1.0.0.nuspec
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.pdb
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.dll
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.csproj.FileListAbsolute.txt
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.csproj.CoreCompileInputs.cache
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.csproj.AssemblyReference.cache
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.assets.cache
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.AssemblyInfoInputs.cache
Unni.Infrastructure/obj/Debug/netstandard2.1/Unni.Infrastructure.AssemblyInfo.cs
Unni.Infrastructure/obj/Debug/netstandard2.1/_IsIncrementalBuild
Unni.Infrastructure/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Unni.Infrastructure/bin/Release/unni.infrastructure.1.0.0.nupkg
Unni.Infrastructure/bin/Release/netstandard2.1/Unni.Infrastructure.pdb
Unni.Infrastructure/bin/Release/netstandard2.1/Unni.Infrastructure.dll
Unni.Infrastructure/bin/Release/netstandard2.1/Unni.Infrastructure.deps.json
Unni.Infrastructure/bin/Debug/unni.infrastructure.1.0.0.nupkg
Unni.Infrastructure/bin/Debug/netstandard2.1/Unni.Infrastructure.pdb
Unni.Infrastructure/bin/Debug/netstandard2.1/Unni.Infrastructure.dll
Unni.Infrastructure/bin/Debug/netstandard2.1/Unni.Infrastructure.deps.json
.vs/Unni/v17/.suo
.vs/Unni/v17/.futdcache.v2
.vs/Unni/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/unni.projects.v5.1
.vs/ProjectEvaluation/unni.metadata.v5.1
